<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <contentSearch>
      <configuration>
        <indexes hint="list:AddIndex">
          <index id="sitecore_core_index">
            <param desc="core">sug_core</param>
          </index>
          <index id="sitecore_master_index">
            <param desc="core">sug_master</param>
          </index>
          <index id="sitecore_web_index">
            <param desc="core">sug_web</param>
          </index>
          <index id="sitecore_analytics_index">
            <param desc="core">sug_analytics</param>
          </index>
          <index id="sitecore_marketing_asset_index_master">
            <param desc="core">sug_marketing_asset_master</param>
          </index>
          <index id="sitecore_marketing_asset_index_web">
            <param desc="core">sug_marketing_asset_web</param>
          </index>
          <index id="sitecore_marketingdefinitions_master">
            <param desc="core">sug_marketingdefinitions_master</param>
          </index>
          <index id="sitecore_marketingdefinitions_web">
            <param desc="core">sug_marketingdefinitions_web</param>
          </index>
          <index id="sitecore_fxm_master_index">
            <param desc="core">sug_fxm_master</param>
          </index>
          <index id="sitecore_fxm_web_index">
            <param desc="core">sug_fxm_web</param>
          </index>
          <index id="sitecore_testing_index">
            <param desc="core">sug_testing</param>
          </index>
          <index id="sitecore_suggested_test_index">
            <param desc="core">sug_suggested_test</param>
          </index>
          <index id="social_messages_master">
            <param desc="core">sug_social_messages_master</param>
          </index>
          <index id="social_messages_web">
            <param desc="core">sug_social_messages_web</param>
          </index>
          <index id="sitecore_list_index">
            <param desc="core">sug_list</param>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
    <settings>
      <setting name="ContentSearch.SearchMaxResults">
        <patch:attribute name="value">1024</patch:attribute>
      </setting>
      <setting name="ContentSearch.Solr.EnableHttpCache">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="ContentSearch.Solr.ServiceBaseAddress">
        <patch:attribute name="value">http://localhost:8651/solr</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>