<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
		
		<pipelines>
			<contactindexable.loadfields>
				<processor type="Sug.Xdb.Pipelines.ContactIndexable.LoadFields.LoadCustomerIndexedFields, Sug.Xdb" />
			</contactindexable.loadfields>

			<contacttagindexable.loadfields>
			</contacttagindexable.loadfields>
			
			<contactaddressindexable.loadfields>
			</contactaddressindexable.loadfields>
			
			<visitindexable.loadfields>
			</visitindexable.loadfields>
			
			<visitpageindexable.loadfields>
			</visitpageindexable.loadfields>
			
			<visitpageeventindexable.loadfields>
			</visitpageeventindexable.loadfields>

		</pipelines>
  </sitecore>
</configuration>