<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
		
		<pipelines>
			<contactindexable.loadfields>
				<processor type="Sug.Xdb.Pipelines.ContactIndexable.LoadFields.LoadCustomerIndexedFields, Sug.Xdb" />
			</contactindexable.loadfields>

			<contacttagindexable.loadfields>
			</contacttagindexable.loadfields>
			
			<contactaddressindexable.loadfields>
			</contactaddressindexable.loadfields>
			
			<visitindexable.loadfields>
			</visitindexable.loadfields>
			
			<visitpageindexable.loadfields>
			</visitpageindexable.loadfields>
			
			<visitpageeventindexable.loadfields>
			</visitpageeventindexable.loadfields>

			<mvc.requestBegin>
				<processor type="Sug.Xdb.Pipelines.RequestBegin.IdentifyCustomerContact, Sug.Xdb" resolve="true"
				           patch:after="*[@type='Sitecore.Mvc.Analytics.Pipelines.MvcEvents.RequestBegin.StartTracking, Sitecore.Mvc.Analytics']"/>
			</mvc.requestBegin>
		</pipelines>
		
		<model>
			<elements>
				<element interface="Sug.Xdb.Model.ICustomerFacet, Sug.Xdb" implementation="Sug.Xdb.Model.CustomerFacet, Sug.Xdb" />
			</elements>
			<entities>
				<contact>
					<facets>
						<facet name="Customer" contract="Sug.Xdb.Model.ICustomerFacet, Sug.Xdb" />
					</facets>
				</contact>
			</entities>
		</model>
		
	  <services>
		  <configurator type="Sug.Xdb.Configuration.ServicesConfigurator, Sug.Xdb" />
	  </services>
		
  </sitecore>
</configuration>